node_modules
.husky
.vscode
coverage
dist
documentation
.eslintignore
.eslintrc.json
.git
.gitignore
globalConfig.json
jest.config.js
jest.integration.config.js
jest-mongodb-config.js
jest.unit.config.js
LICENSE
.lintstagedrc.json
README.md
.travis.yml
k8s